doctype html
html(lang="es")
  head
    title api de eventos
    meta(charset='utf-8')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
    link(href="static/css/app.css" rel="stylesheet")
  body
    nav(class='large-padding black white-text')
      ul
        li
          a(href='/app') Inicio
        li
          a(href= '/app/imagenes') Mis imagenes
    block contenido
